*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

#root {
  --main-bg-color: #f6f8fb;
  --second-bg-color: #fff;
  --third-bg-color: rgba(255, 255, 255, 0.45);
  --header-label-color: #475f7b;
  --input-border-color: rgb(219, 232, 239);
  --elements-bg-color: #30a3e6;
}

#root[theme="dark"] {
  --main-bg-color: hsl(var(--main-bg-color), 50%, 10%);
  --second-bg-color: hsl(var(--second-bg-color), 50%, 10%);
  --third-bg-color: hsl(var(--third-bg-color), 50%, 10%);
  --header-label-color: hsl(var(--header-label-color), 50%, 10%);
}
